body{
    background-image: url(./images/artwork/fetti-hunter-blep.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: bottom;
    font-family: "Geist Pixel";
    color: #3100d3;
  	cursor: url('./cursor/fetti-normal.cur') 0 0, url('./cursor/fetti-busy.cur') 0 0, auto;
}

.full-div{
    width: 100%;
    height: auto;
    gap: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside-div{
    width: 43%;
    height: auto;
    padding: 1vw;
    border: 2px solid #3100d3;
    justify-content: center;
    background-color: #f3f3f3de;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.first-inside-div{
    margin-top: 8vh;
}

.second-inside-div{
    margin-bottom: 8vw;
    gap: 3vh;
}

.text-no-margin{
    margin: 0;
    padding: 0;
}

.text-margin-1{
    margin: 0.5%;
    padding: 0;
}

.status-div, .status-text-div{
    text-align: center;
    width: 100%;
    height: 100%;
}

.img-fetti-div{
    height: 95%;
    width: auto;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fetti-og{
    width: 30vh;
}

.info-double-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3%;
    line-height: 3x;
}

.separator{
    width: 2px;
    height: 30vh;
    background: #3100d3;
}

@media (width <= 990px) {
    body{
        background-position-y: center;
    }

    .inside-div {
        width: 425px;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}