html, body {
  cursor: url('./cursor/fetti-normal.cur') 0 0, url('./cursor/fetti-busy.cur') 0 0, auto;
}

.full-div{
	width: 47%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: red;
}

.inside-div{
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column; 
	align-items: center;
	background-color: blue;
}